<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tous nos produits</title>
  </head>
  <body>
    <div class="products">
      <% products.forEach((oneProduct) => { %>

      <h3><%= oneProduct.name %></h3>
      <p><%= oneProduct.price %></p>

      <% }) %>

      <div>
        <h2>Un nouveau produit a été crée</h2>
        <h3><%= newProduct.name %></h3>
        <p><%= newProduct.price %></p>
      </div>
      <div></div>
    </div>
  </body>
</html>
